spring:
  application:
    name: expert
  config:
    import: optional:file:.properties[.properties]
  profiles:
    active: local
  datasource:
    url: jdbc:mysql://localhost:3307/expert
    username: root
    password: ${LOCAL_DB_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB
  jpa:
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
        format_sql: true
    show-sql: true
  cache:
    type: redis
  data:
    redis:
      host: localhost
      port: 6379
jwt:
  secret:
    key: ${JWT_SECRET_KEY}
